.name-label{
    margin-top: 5px;
}
.allow-outages-div{
    float: left;
}
.allow-outages-div .control-label{
padding-left: 4px!important;
}
.col-sm-4.basic-form-input{
    width: 80%!important;
}
.panel-heading{
    background-image: none!important;
    background-color: #c2d9ea!important;
}
@media (min-width: 992px){
    .parentLocation{
        width:20%;
    }
}