.error{
color: red;
}
#location-header .fa.fa-plus-circle.fa-2x
{
    color: #FFF !important;
    cursor: pointer;    
}
#location-header a{
    float: right;
    margin-top: -40px;
}
span.fa.fa-plus-circle.fa-2x {
    color: #64b448;
    cursor: pointer;
    float: right;
}
i.fa.fa-edit {
    color: #6495ed;
    margin:3px 0px 0px 0px;
    cursor: pointer;
}
i.fa.fa-trash-o {
    color: red;
    margin:3px 0px 0px 0px;
    cursor: pointer;
}

td i.fa.fa-edit,td i.fa.fa-trash-o {
    font-size: 1.3em;
} 

div.box-tools.pull-right i.fa.fa-address-book {
    font-size: 1.8em;
    color: #64b448;
}
.form-group-checkbox{
    margin-top:20px;
    margin-left:-15px;
    margin-right: 15px;
}
@media (max-width: 767px) {
    .form-group-checkbox{
    margin-top:0px;
}
}

i#success {
    color: #64b448;
}

i#danger {
    color: #fc8181;
}

.rw-multiselect-wrapper {
    max-height: 150px;
    cursor: pointer !important;
}