.error{
color: red;
}
span.fa.fa-plus-circle.fa-2x {
    color: #64b448;
    cursor: pointer;
    float: right;
}
i.fa.fa-edit {
    color: #6495ed;
    margin:3px 0px 0px 0px;
    cursor: pointer;
}
i.fa.fa-trash-o {
    color: red;
    margin:3px 0px 0px 0px;
    cursor: pointer;
}

td i.fa.fa-edit,td i.fa.fa-trash-o {
    font-size: 1.3em;
} 

div.box-tools.pull-right i.fa.fa-address-book {
    font-size: 1.8em;
    color: #64b448;
}
