i.fa.fa-trash-o.fa-2x{
    color: red;
    margin: 5px;
    cursor: pointer; 
}
i.fa.fa-edit.fa-2x{
    color: cornflowerblue;
    margin: 5px;
    cursor: pointer; 
}
.all-equipments{
    margin-top: 2%!important;
}
.name-cell{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}