.notifications-section{
    float: right;
    margin:25px 200px 10px 10px;
}
.logo-img{
    float: left;
}
.main-header{
    max-height: 100px;
    margin-bottom: 0px!important;
}
.nav-pills > li > a{
    color: #2b749d;
}
.nav-pills NavItem :hover{
    color: white;
}