.sidebar-menu > li {
	 padding:7px 0px 6px 5px;
}
.sidebar-menu .treeview-menu {
    display:block !important;
}
.dropdown-menu { 
     width: 100%
     }
     /***Errors*/
.error {
	    border: 1px solid red;
}
.errorMessage{	
	color:red;
	margin-top:-10px;
}
/**Common styles***/
.clear{
	clear: both;
}
#content_footer .pull-right{
    margin-right: 25px;
    }
@media screen and (max-width: 400px) {
.content-header
{
    top: 115px;
}
}

/**Sidebar***/
#control-sidebar-menutree-tab {
    .side-menu {
        float: left;
        width: 220px;
        position: absolute;
        min-height: 100%;
        display: block;
        z-index: 999;
        padding: 10px 0px 0px 0px;
    }
    .side-menu .panel-heading {
        text-align: left;
        font-weight: bold;
    }
    .right_panel {
        width: 90.5%;
        float: right;
        padding: 15px 15px 15px 15px!important;
    }
    .sidebar .glyphicon {
        float: right;
    }
    .menu-name a:hover {
        color: #df630b;
    }
    .fa.fa-chevron-down,
    .fa.fa-chevron-left {
        float: right;
    }
}
.panel-info
{
    border-color: #E3EDF6 !important; 
}
.panel-info>.panel-heading {
    background-image: none!important;
    background-color: #E3EDF6 !important;
    color: #326A96 !important;
}
/*****Component Tabs Style****/
/*******/

#Location-wizard-tabs {
    .board {
        width: 100%;
    }
    .board-inner{
        margin-left: -5px;
    }
    .board .nav-tabs {
        position: relative;
        margin-left: 5px;
        margin-bottom: 0;
        box-sizing: border-box;
    }
    .board .nav-tabs li {
        text-align: center;
    }
    .board > div.board-inner {} p.narrow {
        width: 60%;
        margin: 10px auto;
    }
    .liner {
        height: 2px;
        background: #ddd;
        position: absolute;
        width: 85%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top:40px;
        z-index: 0;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #555555;
        cursor: default;
        /* background-color: #ffffff; */
        
        border: 0;
        border-bottom-color: transparent;
    }
    span.round-tabs {
        width: 61px;
        height: 61px;
        line-height: 60px;
        display: inline-block;
        border-radius: 100px;
        background: white;
        z-index: 2;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 25px;
    }
     li a.wizard-item {
        border: 2px solid #ddd;
    }
    li a.wizard-item.active {
    border: 2px solid #3672a2 !important;
    }
     li a.wizard-item.active span {
    color: #ffffff;
    background: #3672a2;
    }

    span.round-tabs.one {
        color: rgb(34, 194, 34);
    }
   
    li.active span.round-tabs.one {
        background: #fff !important;
        color: rgb(34, 194, 34);
    }
    span.round-tabs.two {
        color: #febe29;
    }
    li.active span.round-tabs.two {
        background: #fff !important;
        color: #febe29;
    }
    span.round-tabs.three {
        color: #3e5e9a;
    }
    li.active span.round-tabs.three {
        background: #fff !important;
        color: #3e5e9a;
    }
    span.round-tabs.four {
        color: #f1685e;
    }
    li.active span.round-tabs.four {
        background: #fff !important;
        color: #f1685e;
    }
    span.round-tabs.five {
        color: #3879D9;
    }
    li.active span.round-tabs.five {
        background: #fff !important;
        color: #3879D9;
    }
    span.round-tabs.six {
        color: #999;
    }
    li.active span.round-tabs.six {
        background: #fff !important;
        color: #999;
    }
    span.round-tabs.seven {
        color: #E3EDF6;
    }
    li.active span.round-tabs.seven {
        background: #fff !important;
        color: #E3EDF6;
    }
    .nav-tabs > li.active > a span.round-tabs {
        background: #fafafa;
    }
    .nav-tabs > li {
        width: 11%;
        height: 110px;
    }
    .nav-tabs .tab-title {
        margin: 100% 0px 0px -50%;        
        position: absolute;
        background: none !important;
        color: #999 !important;
    }

    li:after {
        content: " ";
        position: absolute;
        left: 45%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid transparent;
        border-bottom-color: #ddd;
        transition: 0.1s ease-in-out;
    }
    li.active:after {
        content: " ";
        position: absolute;
        left: 45%;
        opacity: 1;
        margin: 0 auto;
        bottom: 0px;
        border: 10px solid transparent;
        border-bottom-color: #ddd;
    }
    .nav-tabs > li a {
        width: 65px;
        height: 65px;
        margin: 5px auto;
        border-radius: 100%;
        padding: 0;
        cursor: pointer;
    }
    .nav-tabs > li a:hover {
        background: transparent;
    }
    .tab-pane {
        position: relative;
    }
    .tab-content .head {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        padding-bottom: 10px;
    }
    .btn-outline-rounded {
        padding: 10px 40px;
        margin: 20px 0;
        border: 2px solid transparent;
        border-radius: 25px;
    }
    .btn.green {
        background-color: #5cb85c;
        /*border: 2px solid #5cb85c;*/
        
        color: #ffffff;
    }
    @media( max-width: 585px) {
        .board {
            width: 90%;
            height: auto !important;
        }
        span.round-tabs {
            font-size: 16px;
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
        .tab-content .head {
            font-size: 20px;
        }
        .nav-tabs > li a {
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
        li.active:after {
            content: " ";
            position: absolute;
            left: 35%;
        }
        .btn-outline-rounded {
            padding: 12px 20px;
        }
    }
}