.fa.fa-plus-circle.fa-2x{
    color:#64b448;
    cursor:pointer;
}
.modal-content{
    border-radius: 6px;
    overflow: visible;
}
.fa.fa-trash-o.fa-2x{
    cursor:pointer;
    color:red; 
}
.no-results-alert{
    color:red;
    text-align: center;
}
.align-text-col{
    text-align: center;
}
.dropdown-menu{
    overflow-y: scroll!important;
}