.fa.fa-plus-circle.fa-2x{
    color:#64b448;
    float: right;
    cursor:pointer;
}
.modal-content{
    border-radius: 6px;
    overflow: visible;
}
.panel{
    padding-top: 2px; 
}

.btn.btn-success{
float: left;
background-image:none!important;
background-color:#00a65a!important;
color: white!important;
}
.btn.btn-warning{
float: right;
background-image:none!important;
background-color:#f39c12!important;
color: white!important;
}
.fa.fa-trash-o.fa-2x{
    cursor:pointer;
    color:red; 
}
.no-results-alert{
    color:red;
    text-align: center;
}
.show.table.table-striped.table-bordered.table-condensed.table-hover {
    display: grid!important;
}
.align-text-col{
    text-align: center;
}
table>thead>tr>th{
    text-align: center;
}
.panel-body{
    min-height: 500px!important;
}
.dropdown-menu{
    overflow-y: scroll!important;
}
#resultsDiv{
    margin-top: 2%;
}