.fa.fa-plus-circle.fa-2x{
    color:#64b448;
    float: right;
    cursor:pointer;
}
.modal-content{
    border-radius: 6px;
}
.panel{
    padding-top: 2px; 
}

.btn.btn-success{
float: left;
background-image:none!important;
background-color:#00a65a!important;
color: white!important;
}
.btn.btn-warning{
float: right;
background-image:none!important;
background-color:#f39c12!important;
color: white!important;
}